<div class="row mt-4">

    <div class="col-md-4">
        <a href="{% url 'create_resume' %}" style="text-decoration:none;">
            <div class="card shadow p-4 text-center">
                <h4>Create Resume</h4>
            </div>
        </a>
    </div>

    <div class="col-md-4">
        <a href="/ats/" style="text-decoration:none;">
            <div class="card shadow p-4 text-center">
                <h4>ATS Analyzer</h4>
            </div>
        </a>
    </div>

    <div class="col-md-4">
        <a href="/portfolio/" style="text-decoration:none;">
            <div class="card shadow p-4 text-center">
                <h4>Generate Portfolio</h4>
            </div>
        </a>
    </div>

</div>